<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <nav>
    <a href="/">Home</a>
    <a href="/about">Conocemos</a>
    <a href="/lessons">Ver lecciones</a>
    <a href="/lessons/by-approval/aprobadas">Ver lecciones aprobadas</a>
    <a href="/lessons/by-approval/no-aprobadas">Ver lecciones no aprobadas</a>
    <hr>
    <a href="/dog/random">Ver Perrito aleatorio</a>

  </nav>

  {{{body}}}

</body>
</html>