<div>

  <h3>Estas son las lecciones por su aprobaci칩n</h3>

  {{#each this.filteredLessons}}

    <div>
      <h5>{{this.topic}}</h5>
      <p>{{this.description}}</p>
      <p>{{this.bootcamp}}</p>

      {{!-- en handlebars cuando usamos if, solo podemos comparar si algo es verdadero o si algo existe --}}
      {{#if this.approved}}
        <p>Esta lecci칩n est치 aprobada!</p>
      {{else}}
        <p>Est치 no fue aprobada. Intenta de nuevo</p>
      {{/if}}
    </div>

    <hr>

  {{/each}}

</div>