<div>

  <h3>Perrito aleatorio</h3>


  {{!-- <div>
    <h4>Este es un perrito que quiere ser tu amigo</h4>
    <img src="{{this.dogImage}}" alt="perrito" width="300px">
    <p>El mejor perrito del mundo 11/10</p>
  </div>  --}}

  {{>dogCardPartial this.dogImage}}

</div>